[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Automatic watering system
[access "refs/*"]
	owner = group user/tfr10sj1
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/tfr10sj1
	label-Verified = -1..+1 group user/tfr10sj1
	push = group user/tfr10sj1
	read = group user/tfr10sj1
	rebase = group user/tfr10sj1
	removeReviewer = group user/tfr10sj1
	submit = group user/tfr10sj1
[access "refs/heads/*"]
	create = group user/tfr10sj1
	push = +force group user/tfr10sj1
	pushMerge = group user/tfr10sj1
	read = group user/tfr10sj1
[access "refs/tags/*"]
	push = group user/tfr10sj1
	push = +force group user/tfr10sj1
